[com_0]
type=layer
x=3
y=20
clientcode=203
width=168
height=204
scroll=400

[com_1]
layer=com_0
type=text
x=7
y=8
buttontype=normal
clientcode=1
width=100
height=14
font=p12
shadowed=yes
text=
colour=0xFFFFFF
option=Send message

[com_2]
layer=com_0
type=text
x=7
y=23
buttontype=normal
clientcode=2
width=100
height=14
font=p12
shadowed=yes
text=
colour=0xFFFFFF
option=Send message

[com_3]
layer=com_0
type=text
x=7
y=38
buttontype=normal
clientcode=3
width=100
height=14
font=p12
shadowed=yes
text=
colour=0xFFFFFF
option=Send message

[com_4]
layer=com_0
type=text
x=7
y=53
buttontype=normal
clientcode=4
width=100
height=14
font=p12
shadowed=yes
text=
colour=0xFFFFFF
option=Send message

[com_5]
layer=com_0
type=text
x=7
y=68
buttontype=normal
clientcode=5
width=100
height=14
font=p12
shadowed=yes
text=
colour=0xFFFFFF
option=Send message

[com_6]
layer=com_0
type=text
x=7
y=83
buttontype=normal
clientcode=6
width=100
height=14
font=p12
shadowed=yes
text=
colour=0xFFFFFF
option=Send message

[com_7]
layer=com_0
type=text
x=7
y=98
buttontype=normal
clientcode=7
width=100
height=14
font=p12
shadowed=yes
text=
colour=0xFFFFFF
option=Send message

[com_8]
layer=com_0
type=text
x=7
y=113
buttontype=normal
clientcode=8
width=100
height=14
font=p12
shadowed=yes
text=
colour=0xFFFFFF
option=Send message

[com_9]
type=text
x=27
y=4
width=78
height=14
font=b12
shadowed=yes
text=Adventuring Party
colour=0xFFFF00

[com_10]
type=graphic
x=15
y=224
buttontype=normal
clientcode=702
width=72
height=36
graphic=combatboxes,0
option=Invite Player

[com_11]
type=graphic
x=95
y=224
buttontype=normal
clientcode=703
width=72
height=36
graphic=combatboxes,0
option=Kick player

[com_12]
type=text
x=21
y=234
width=60
height=14
font=p12
shadowed=yes
text=Inv Player
activecolour=0xFFFFFF
colour=0xFFFF00

[com_13]
type=text
x=103
y=234
width=55
height=14
font=p12
shadowed=yes
text=Kick Player
activecolour=0xFFFFFF
colour=0xFFFF00

[com_14]
type=graphic
x=3
y=20
width=25
height=30
graphic=steelborder,0

[com_15]
type=graphic
x=146
y=20
width=25
height=30
graphic=steelborder,1

[com_16]
type=graphic
x=3
y=194
width=25
height=30
graphic=steelborder,2

[com_17]
type=graphic
x=146
y=194
width=25
height=30
graphic=steelborder,3

[com_18]
type=graphic
x=28
y=5
width=36
height=36
graphic=steelborder2,0

[com_19]
type=graphic
x=64
y=5
width=36
height=36
graphic=steelborder2,0

[com_20]
type=graphic
x=100
y=5
width=36
height=36
graphic=steelborder2,0

[com_21]
type=graphic
x=112
y=5
width=36
height=36
graphic=steelborder2,0

[com_22]
type=graphic
x=150
y=50
width=36
height=36
graphic=steelborder2,1

[com_23]
type=graphic
x=150
y=86
width=36
height=36
graphic=steelborder2,1

[com_24]
type=graphic
x=150
y=122
width=36
height=36
graphic=steelborder2,1

[com_25]
type=graphic
x=150
y=158
width=36
height=36
graphic=steelborder2,1

[com_26]
type=graphic
x=-12
y=50
width=36
height=36
graphic=miscgraphics,2

[com_27]
type=graphic
x=-12
y=86
width=36
height=36
graphic=miscgraphics,2

[com_28]
type=graphic
x=-12
y=122
width=36
height=36
graphic=miscgraphics,2

[com_29]
type=graphic
x=-12
y=158
width=36
height=36
graphic=miscgraphics,2

[com_30]
type=graphic
x=28
y=203
width=36
height=36
graphic=miscgraphics,3

[com_31]
type=graphic
x=64
y=203
width=36
height=36
graphic=miscgraphics,3

[com_32]
type=graphic
x=100
y=203
width=36
height=36
graphic=miscgraphics,3

[com_33]
type=graphic
x=111
y=203
width=36
height=36
graphic=miscgraphics,3

[create_cont]
type=layer
x=55
y=50
width=72
height=36

[create]
layer=create_cont
type=graphic
x=0
y=0
buttontype=normal
clientcode=700
width=72
height=36
graphic=combatboxes,0
option=Create Party

[create_text]
layer=create_cont
type=text
x=16
y=10
width=32
height=32
font=p12
shadowed=yes
text=Create
colour=0xFFFF00
